.wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    width: 100%;
}

.inner {
    height: 60px;
    width: var(--width-content);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.plus-icon {
    margin-right: 6px;
}

.menu-btn {
    margin-left: 16px;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0 4px;
    background-color: transparent;
    .menu-icon {
        width: 20px;
        height: 20px;
    }
}

.user-action {
    width: 26px;
    height: 26px;
    padding: 3px 3px 0 3px;
    margin-left: 16px;
    font-size: 1.9rem;
    background-color: transparent;
    cursor: pointer;
}

.user-avatar {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
    margin-left: 2.4rem;
    border-radius: 50%;
    cursor: pointer;
}

button,
input,
[tab-index] {
    border: none;
    outline: none;
}
